BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 8
TabWidth: 8

ColumnLimit: 80

BreakBeforeBraces: Linux
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

IndentCaseLabels: false

SortIncludes: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
